.form-sign__title {
    margin-top: 12px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: #ffffff;
}
.form-sign__thumb {
    display: flex;
        align-items: baseline;
}